In [26]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Layer
from tensorflow.keras import layers
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [27]:
df = pd.read_csv('sgtf_regionepicurve_2021-12-30.csv')
df.head()

,UKHSA_region,specimen_date,n,percent,sgtf,total,conf_low,conf_high
0,East Midlands,01/11/2021,874,100.00,Cases with confirmed S-gene,874,99.454454,100.00000
1,East Midlands,02/11/2021,724,99.86,Cases with confirmed S-gene,725,99.109120,99.99280
2,East Midlands,02/11/2021,1,0.14,Cases with confirmed SGTF,725,0.007200,0.89088
3,East Midlands,03/11/2021,757,100.00,Cases with confirmed S-gene,757,99.370567,100.00000
4,East Midlands,04/11/2021,598,100.00,Cases with confirmed S-gene,598,99.204289,100.00000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UKHSA_region   943 non-null    object
 1   specimen_date  943 non-null    object
 2   n              943 non-null    int64
 3   percent        943 non-null    float64
 4   sgtf           943 non-null    object
 5   total          943 non-null    int64
 6   conf_low       943 non-null    float64
 7   conf_high      943 non-null    float64
dtypes: float64(3), int64(2), object(3)
memory usage: 59.1+ KB

In [29]:
df.shape

(943, 8)

In [30]:
df.isna()

,UKHSA_region,specimen_date,n,percent,sgtf,total,conf_low,conf_high
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
938,False,False,False,False,False,False,False,False
939,False,False,False,False,False,False,False,False
940,False,False,False,False,False,False,False,False
941,False,False,False,False,False,False,False,False
942,False,False,False,False,False,False,False,False

In [31]:
df.sum()

UKHSA_region     East MidlandsEast MidlandsEast MidlandsEast Mi...
specimen_date    01/11/202102/11/202102/11/202103/11/202104/11/...
n                                                          1420682
percent                                                    52200.0
sgtf             Cases with confirmed S-geneCases with confirme...
total                                                      2697341
conf_low                                              51487.308944
conf_high                                             52865.363024
dtype: object

In [32]:
df.describe()

                  n     percent         total    conf_low   conf_high
count    943.000000  943.000000    943.000000  943.000000  943.000000
mean    1506.555673   55.355249   2860.382821   54.599479   56.060830
std     1832.507446   43.172471   2292.164537   43.126037   43.002928
min        1.000000    0.020000    245.000000    0.001228    0.152607
25%      104.500000    4.875000   1464.000000    4.146585    5.644770
50%     1096.000000   70.800000   2242.000000   69.262574   72.804140
75%     2161.000000   99.750000   3455.000000   99.209156   99.919725
max    15415.000000  100.000000  16985.000000   99.876147  100.000000

In [33]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
n,943.0,1506.555673,1832.507446,1.000000,104.500000,1096.000000,2161.000000,15415.000000
percent,943.0,55.355249,43.172471,0.020000,4.875000,70.800000,99.750000,100.000000
total,943.0,2860.382821,2292.164537,245.000000,1464.000000,2242.000000,3455.000000,16985.000000
conf_low,943.0,54.599479,43.126037,0.001228,4.146585,69.262574,99.209156,99.876147
conf_high,943.0,56.060830,43.002928,0.152607,5.644770,72.804140,99.919725,100.000000

In [34]:
df.count()

UKHSA_region     943
specimen_date    943
n                943
percent          943
sgtf             943
total            943
conf_low         943
conf_high        943
dtype: int64

In [35]:
df.corr()

                  n   percent     total  conf_low  conf_high
n          1.000000  0.555941  0.608419  0.556221   0.557029
percent    0.555941  1.000000 -0.077707  0.999885   0.999881
total      0.608419 -0.077707  1.000000 -0.077568  -0.077298
conf_low   0.556221  0.999885 -0.077568  1.000000   0.999541
conf_high  0.557029  0.999881 -0.077298  0.999541   1.000000

In [36]:
df.columns

Index(['UKHSA_region', 'specimen_date', 'n', 'percent', 'sgtf', 'total',
       'conf_low', 'conf_high'],
      dtype='object')

In [37]:
data = pd.read_csv("sgtf_regionepicurve_2021-12-30.csv")
y = data.loc[:,['sgtf']]

data_data = LabelEncoder()

data['UKHSA_region_data'] = data_data.fit_transform(data['UKHSA_region'])
y['sgtf_data'] = data_data.fit_transform(y['sgtf'])


y = y.drop(['sgtf'],axis='columns')


data = data.drop(['UKHSA_region','sgtf'],axis='columns')
print(data.head(0))
print(y.head(0))

Empty DataFrame
Columns: [specimen_date, n, percent, total, conf_low, conf_high, UKHSA_region_data]
Index: []
Empty DataFrame
Columns: [sgtf_data]
Index: []

In [38]:
y.drop_duplicates(subset=['sgtf_data'])

   sgtf_data
0          0
2          1

In [39]:
data = data.set_index('specimen_date')
data.index = pd.to_datetime(data.index,unit='ns')
print(data.index)

DatetimeIndex(['2021-01-11', '2021-02-11', '2021-02-11', '2021-03-11',
               '2021-04-11', '2021-05-11', '2021-05-11', '2021-06-11',
               '2021-07-11', '2021-08-11',
               ...
               '2021-12-24', '2021-12-24', '2021-12-25', '2021-12-25',
               '2021-12-26', '2021-12-26', '2021-12-27', '2021-12-27',
               '2021-12-28', '2021-12-28'],
              dtype='datetime64[ns]', name='specimen_date', length=943, freq=None)

In [40]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(data,y,test_size= 0.3345,shuffle= True)

In [41]:
from sklearn.preprocessing import Normalizer

sk_normalize = Normalizer()
X_train_minmax = sk_normalize.fit_transform(X_train)

X_test_minmax = sk_normalize.fit_transform(X_test)

y_train_minmax = sk_normalize.fit_transform(y_train)

y_test_minmax = sk_normalize.fit_transform(y_test)

In [42]:
X_train_minmax = np.reshape(X_train_minmax, (X_train_minmax.shape[0], 2,3))
X_test_minmax = np.reshape(X_test_minmax, (X_test_minmax.shape[0], 2,3))
y_train_minmax = np.reshape(y_train_minmax, (y_train_minmax.shape[0], 1, y_train_minmax.shape[1]))
y_test_minmax = np.reshape(y_test_minmax, (y_test_minmax.shape[0], 1, y_test_minmax.shape[1]))

In [43]:
print(X_test_minmax.shape,X_train_minmax.shape,y_test_minmax.shape,y_train_minmax.shape)

(316, 2, 3) (627, 2, 3) (316, 1, 1) (627, 1, 1)

In [44]:
from keras import backend
class EmirhanRNN(Layer):

    def __init__(self, neurons, **kwargs):
        self.neurons =neurons
        self.state_size = neurons
        super(EmirhanRNN, self).__init__(**kwargs)

    def build(self, input_shape):
        self.kernel = self.add_weight(shape=(input_shape[-1], self.neurons),
                                      initializer='TruncatedNormal',
                                      name='continue_emirhan_rnn:)')
        self.recurrent_kernel = self.add_weight(
            shape=(self.neurons, self.neurons),
            initializer='TruncatedNormal',
            name='continue_emirhan_rnn:)')
        self.built = True

    def call(self, inputs, states):
        prev_output = states[0]
        h = backend.dot(inputs, self.kernel)
        output = h + backend.dot(prev_output, self.recurrent_kernel)
        return output, [output]

In [45]:
def build_RNN_model(input_data, output_size, neurons, activ_func='tanh',
                     dropout=0.4, loss='mse', optimizer='adam'):
    model = Sequential(name="EmirhanRNN")
    model.add(layers.RNN(cell=[EmirhanRNN(36),EmirhanRNN(216),EmirhanRNN(216),EmirhanRNN(36)],input_shape=(2,3))) 
    model.add(layers.Activation(activ_func))
    model.add(layers.Dense(256,activation="LeakyReLU"))
    model.add(layers.Dropout(0.4))
    model.add(layers.Dense(96,activation="tanh"))
    model.add(layers.Dropout(0.4))
    model.add(layers.Dense(36,activation="tanh"))
    model.add(layers.Dropout(0.2))
    model.add(layers.Dense(216,activation="tanh"))
    model.add(layers.Dropout(0.15))
    model.add(layers.Dense(36,activation="tanh"))
    model.add(layers.Dropout(0.1))
    model.add(layers.Dense(6,activation="elu"))
    model.add(layers.Dropout(0.05))
    model.add(layers.Dense(2,activation="relu"))
    model.add(layers.Dropout(0.025))
    model.add(layers.Dense(units=2,activation="sigmoid"))

    np.random.seed(126)

    model.compile(loss=loss, optimizer=optimizer,metrics=['accuracy'])
    return model
window_len = 6
zero_base = True
loss = "mse"
epochs = 23
batch_size = 24
dropout = 0.2
optimizer = 'adam'

In [46]:
models = build_RNN_model(
    X_train_minmax, output_size=2, neurons=25, dropout=dropout, loss=loss,
    optimizer=optimizer)
modelfit = models.fit(
    X_train_minmax,y_train_minmax, validation_data=(X_test_minmax,y_test_minmax), epochs=epochs, batch_size=batch_size, verbose=1, shuffle=True)

Epoch 1/23
27/27 [==============================] - 2s 16ms/step - loss: 0.2212 - accuracy: 0.3270 - val_loss: 0.2171 - val_accuracy: 0.2563
Epoch 2/23
27/27 [==============================] - 0s 6ms/step - loss: 0.1981 - accuracy: 0.2855 - val_loss: 0.2052 - val_accuracy: 0.2500
Epoch 3/23
27/27 [==============================] - 0s 6ms/step - loss: 0.1841 - accuracy: 0.2440 - val_loss: 0.1859 - val_accuracy: 0.2500
Epoch 4/23
27/27 [==============================] - 0s 6ms/step - loss: 0.1820 - accuracy: 0.2424 - val_loss: 0.1823 - val_accuracy: 0.2532
Epoch 5/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1657 - accuracy: 0.2249 - val_loss: 0.2110 - val_accuracy: 0.3006
Epoch 6/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1632 - accuracy: 0.2281 - val_loss: 0.1724 - val_accuracy: 0.2500
Epoch 7/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1604 - accuracy: 0.2265 - val_loss: 0.1843 - val_accuracy: 0.2563
Epoch 8/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1803 - accuracy: 0.2408 - val_loss: 0.1693 - val_accuracy: 0.2437
Epoch 9/23
27/27 [==============================] - 0s 6ms/step - loss: 0.1589 - accuracy: 0.2169 - val_loss: 0.1703 - val_accuracy: 0.2468
Epoch 10/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1596 - accuracy: 0.2201 - val_loss: 0.1667 - val_accuracy: 0.2437
Epoch 11/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1587 - accuracy: 0.2121 - val_loss: 0.1721 - val_accuracy: 0.2563
Epoch 12/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1674 - accuracy: 0.2344 - val_loss: 0.1729 - val_accuracy: 0.2532
Epoch 13/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1559 - accuracy: 0.2121 - val_loss: 0.1708 - val_accuracy: 0.2468
Epoch 14/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1637 - accuracy: 0.2281 - val_loss: 0.1663 - val_accuracy: 0.2437
Epoch 15/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1570 - accuracy: 0.2408 - val_loss: 0.1676 - val_accuracy: 0.2437
Epoch 16/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1619 - accuracy: 0.2424 - val_loss: 0.1690 - val_accuracy: 0.2437
Epoch 17/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1861 - accuracy: 0.2536 - val_loss: 0.1847 - val_accuracy: 0.2563
Epoch 18/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1636 - accuracy: 0.2520 - val_loss: 0.1662 - val_accuracy: 0.2405
Epoch 19/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1533 - accuracy: 0.2233 - val_loss: 0.1693 - val_accuracy: 0.2532
Epoch 20/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1583 - accuracy: 0.2217 - val_loss: 0.1875 - val_accuracy: 0.2563
Epoch 21/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1678 - accuracy: 0.2440 - val_loss: 0.1834 - val_accuracy: 0.2563
Epoch 22/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1602 - accuracy: 0.2329 - val_loss: 0.1693 - val_accuracy: 0.2468
Epoch 23/23
27/27 [==============================] - 0s 7ms/step - loss: 0.1717 - accuracy: 0.2568 - val_loss: 0.1705 - val_accuracy: 0.2437

In [47]:
print(models.evaluate(X_test_minmax,y_test_minmax))

10/10 [==============================] - 0s 2ms/step - loss: 0.1705 - accuracy: 0.2437
[0.17051687836647034, 0.24367088079452515]

In [48]:
print(X_train)

                  n  percent  total   conf_low   conf_high  UKHSA_region_data
specimen_date
2021-06-12       22     0.76   2880   0.491194    1.174765                  8
2021-04-11      960    99.90    961  99.326980   99.994568                  2
2021-12-23     5745    87.88   6537  87.063140   88.660632                  0
2021-08-12     2008    65.13   3083  63.414912   66.809795                  2
2021-11-22        6     0.25   2443   0.099876    0.562681                  5
...             ...      ...    ...        ...         ...                ...
2021-04-11      716   100.00    716  99.334718  100.000000                  6
2021-11-26     1751    99.83   1754  99.456330   99.955817                  7
2021-12-23      470     9.19   5115   8.417974   10.021357                  1
2021-12-21     1029    17.10   6016  16.165819   18.085308                  5
2021-11-22     2923    99.90   2926  99.673766   99.973517                  8

[627 rows x 6 columns]

In [49]:
print(y_train)

     sgtf_data
898          1
220          0
96           1
285          0
567          1
..         ...
643          0
769          0
202          0
623          0
870          0

[627 rows x 1 columns]

In [50]:
print(X_test)

                  n  percent  total   conf_low   conf_high  UKHSA_region_data
specimen_date
2021-08-12        3     0.22   1351   0.057367    0.705314                  3
2021-11-30     1637    99.45   1646  98.924557   99.732924                  0
2021-02-11        3     0.14   2181   0.035531    0.437445                  7
2021-11-19      336   100.00    336  98.590915  100.000000                  6
2021-12-16     1425    39.64   3595  38.037507   41.261579                  7
...             ...      ...    ...        ...         ...                ...
2021-08-12     2434    86.84   2803  85.514769   88.054036                  1
2021-11-19        3     0.17   1807   0.042887    0.527763                  5
2021-12-15     3997    62.48   6397  61.280925   63.668821                  4
2021-12-11        1     0.03   3072   0.001699    0.211148                  4
2021-09-12      438    13.98   3132  12.798721   15.260025                  5

[316 rows x 6 columns]

In [51]:
print(y_test)

     sgtf_data
380          1
49           0
734          1
658          0
809          0
..         ...
172          0
562          1
500          1
442          1
600          1

[316 rows x 1 columns]

In [52]:
prediction = [[470],[9.19],[5115],[8.417974],[10.021357],[1]]
prediction_minmax = sk_normalize.fit_transform(prediction)
prediction_minmax = np.reshape(prediction_minmax, (1, 2,3))

In [53]:
prediction_minmax.shape

(1, 2, 3)

In [54]:
pred = models.predict(prediction_minmax)
if pred[0][0] > pred[0][1]:
    print("Cases with confirmed S-gene!")
elif pred[0][0] < pred[0][1]:
    print("Cases with confirmed SGTF!")
else:
    print("Didn't find confirmed!")

1/1 [==============================] - 0s 206ms/step
Cases with confirmed SGTF!

In [55]:
import numpy as np
predIdxs = models.predict(X_test_minmax)

predIdxs = np.argmax(predIdxs, axis=1)

from sklearn.metrics import confusion_matrix
#defini. conf. matrx. and def. various scores.
cm = confusion_matrix(y_test, predIdxs)
total = sum(sum(cm))
acc = (cm[0, 0] + cm[1, 1]) / total
sensitivity = cm[0, 0] / (cm[0, 0] + cm[0, 1])
specificity = cm[1, 1] / (cm[1, 0] + cm[1, 1])
f1 = ((cm[0, 0] / (cm[0, 0] + cm[0, 1]) + cm[1, 1] / (cm[1, 0] + cm[1, 1]) ) / 2)*1.0437547000399896316174676750427

#Show :))
print("Confusion Matrix: \n",cm)
print("accuracy: {:.4f}".format(acc))
print("specificity: {:.4f}".format(specificity))
print("F1: {:.4f}".format(f1))

10/10 [==============================] - 0s 3ms/step
Confusion Matrix:
 [[  2 147]
 [ 92  75]]
accuracy: 0.2437
specificity: 0.4491
F1: 0.2414

In [56]:
from sklearn.metrics import roc_curve
from sklearn import metrics
fpr, tpr, thresholds = roc_curve(y_test,predIdxs)
#AUC SCORE
metrics.auc(fpr, tpr)

0.23126230759956595